<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.dao.PersonMapper">

    <sql id="personItem">
        id,account,name,sex,age,phone,email,photo_url,note,isDeleted
    </sql>
    <insert id="insertPerson" parameterType="Person">
        INSERT
        INTO
          persons
          <include refid="personItem"/>
        VALUES
        (
          uuid(),
          #{account},
          #{name},
          #{sex},
          #{age},
          #{phone},
          #{email},
          #{photo_url},
          #{note},
          0
        )
    </insert>

    <select id="queryPersonByAccount" parameterType="Person" resultType="Person">
        SELECT
          <include refid="personItem"/>
        FROM
          persons
        WHERE
          account=#{account}
        AND
          isDeleted=0
    </select>

    <update id="updatePerson" parameterType="Person">
        UPDATE
          persons
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
            <if test="sex!=null and sex!=''">
                sex=#{sex},
            </if>
            <if test="age!=null and age!=''">
                age=#{age},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="email!=null and email!=''">
                email=#{email},
            </if>
            <if test="photo_url!=null and photo_url!=''">
                photo_url=#{photo_url},
            </if>
            <if test="note!=null and note!=''">
                note=#{note},
            </if>
        </set>
        WHERE
          account=#{account}
    </update>

    <update id="delPerson" parameterType="string">
        UPDATE
          persons
        SET
          isDeleted=1
        WHERE
          account=#{account}
    </update>

    <select id="queryAllPerson" resultType="Person">
        SELECT
          <include refid="personItem"/>
        FROM
          persons
    </select>


</mapper>