<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.dao.SignMapper">

    <insert id="addSign" parameterType="Sign" >
        INSERT
        INTO
          signs(
            id,
            account,
            address,
            signTime,
            isDeleted
          )
        VALUES(
          uuid()
          ,#{account}
          ,#{address}
          ,#{signTime}
          ,0
        )
    </insert>

    <select id="querySign" parameterType="Sign" resultType="Sign">
        SELECT
          *
        FROM
          signs
        WHERE
          isDeleted=0
        <if test="id!=null and id!=''">
            id=#{id}
        </if>
        <if test="account!=null">
            AND account=#{account}
        </if>
        <if test="signTime!=null">
            AND signTime=#{signTime}
        </if>
        ORDER
        BY
          signTime
        DESC

    </select>

    <select id="queryAllMemo" resultType="Memo">
        SELECT
          *
        FROM
          memos
    </select>

    <select id="queryAvalMemo" resultType="Memo">
        SELECT
          *
        FROM
          memos
        WHERE
          TIMESTAMPDIFF(MINUTE,NOW(),tigger_Time)&lt;5
    </select>

    <select id="queryNewMemo" parameterType="string"  resultType="Memo">
        SELECT
          *
        FROM
        (
          SELECT
            *
          FROM
            memos
          WHERE
            isDeleted=0
          AND
            TIMESTAMPDIFF(MINUTE,NOW(),tigger_Time)&lt;5
          AND
            account=#{account}
        )
        AS
        a
        <where>
            <if test="keyWord!=null and keyWord!=''">
                 a.title like concat('%',#{keyWord},'%')
            OR
                 a.tigger_Time like concat('%',#{keyWord},'%')
            </if>
        </where>


    </select>

    <select id="queryOldMemo" parameterType="string" resultType="Memo">
        SELECT
          *
        FROM
        (
          SELECT
            *
          FROM
            memos
          WHERE
            isDeleted=0
          AND
            TIMESTAMPDIFF(MINUTE,NOW(),tigger_Time)&gt;5
          AND
          account=#{account}
        )
        AS
        a
        <where>
            <if test="keyWord!=null and keyWord!=''">
                a.title like concat('%',#{keyWord},'%')
                OR
                a.tigger_Time like concat('%',#{keyWord},'%')
            </if>
        </where>
    </select>

    <insert id="addMemo" parameterType="Memo">
        INSERT
        INTO
          memos
        VALUES(
          uuid(),
          #{account},
          #{title},
          #{content},
          #{tigger_Time},
          0
        )
    </insert>

    <update id="updateMemo" parameterType="Memo">
        UPDATE
          memos
        <set>
            <if test="title!=null and title!=''">
                title=#{title},
            </if>
            <if test="content!=null and content!=''">
                content=#{content},
            </if>
            <if test="tigger_Time!=null and tigger_Time!=''">
                tigger_Time=#{tigger_Time},
            </if>
        </set>
        WHERE
          id=#{id}

    </update>

    <update id="deleteMemo" parameterType="string">
        UPDATE
          memos
        SET
          isDeleted=1
        WHERE
          id=#{id}
    </update>

    <select id="newMemoCount" parameterType="string" resultType="integer">
        SELECT
          COUNT(*)
        FROM
          memos
        WHERE
          isDeleted=0
        AND
          account=#{account}
        AND
          tigger_Time>NOW()
    </select>
</mapper>